<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>
  <div class="ui-g">

    <div class="ui-g-12">

      <p-dataTable [value]="pessoas" [responsive]="true" 
        emptyMessage="Nenhum registro encontrado" 
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros" 
        (onLazyLoad)="aoMudarPagina($event)"
        #tabelaPessoas>

        <p-column field="nome" header="Nome"></p-column>
        <p-column field="endereco.cidade" header="Cidade"></p-column>
        <p-column field="endereco.estado" header="Estado"></p-column>
        <p-column field="ativo" header="Status" styleClass="col-data">
          <ng-template let-pess="rowData" pTemplate="body">
            <!--cria uma variavel interna com let, rowData eh os valores da linha -->
            <a href="javascript:;" [style.color]="pess.ativo == true ? 'blue' : 'red'" [pTooltip]="pess.ativo ? 'Desativar' : 'Ativar'"
              tooltipPosition="top" (click)="alterarStatusPessoa(pess);">
              {{ pess.ativo ? 'Ativo' : 'Inativo' }}
            </a>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body"  let-pess="rowData">
            <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
            <button pButton icon="fa-trash" (click)="confirmarExclusao(pess);" pTooltip="Excluir" tooltipPosition="top"></button>
          </ng-template>
        </p-column>
      </p-dataTable>

    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa"></a>
    </div>

  </div>

</div>