<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="dataVencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

        <label>até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="dataVencimentoFim" [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">

    <div class="ui-g-12">

      <p-dataTable [value]="lancamentos" [responsive]="true" 
        emptyMessage="Nenhum registro encontrado" 
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros" 
        (onLazyLoad)="aoMudarPagina($event)"
        #tabelaLancamentos>
        
        <p-column field="pessoa" header="Pessoa"></p-column>
        <p-column field="descricao" header="Descrição"></p-column>
        <p-column field="valor" header="Vencimento" styleClass="col-data">
          <ng-template let-lanc="rowData" pTemplate="body">
            <!--cria uma variavel interna com let, rowData eh os valores da linha -->
            <span>{{lanc.dataVencimento | date:'dd/MM/yyyy'}}</span>
          </ng-template>
        </p-column>
        <p-column field="valor" header="Pagamento" styleClass="col-data">
          <ng-template let-lanc="rowData" pTemplate="body">
            <!--cria uma variavel interna com let, rowData eh os valores da linha -->
            <span>{{lanc.dataPagamento | date:'dd/MM/yyyy'}}</span>
          </ng-template>
        </p-column>
        <p-column field="valor" header="Valor" styleClass="col-valor">
          <ng-template let-lanc="rowData" pTemplate="body">
            <!--cria uma variavel interna com let, rowData eh os valores da linha -->
            <span [style.color]="lanc.tipo === 'DESPESA' ? 'red' : 'blue'">{{lanc.valor}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body" let-lanc="rowData">
            <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
            <button pButton icon="fa-trash" (click)="confirmarExclusao(lanc);" pTooltip="Excluir" tooltipPosition="top"></button>
          </ng-template>
        </p-column>
      </p-dataTable>

    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Lançamento"></a>
    </div>

  </div>

</div>